/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

 /* global styles  */


.card{
display: flex;
width: 1512px;
height: 3089px;
padding: 33px 55px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.housewife{
display: flex;
height: 349px;
justify-content: center;
align-items: center;
flex-shrink: 0;
gap: 51.684px;

}

.housewife2{
display: flex;
width:1367px;
justify-content:center;
align-items: flex-start;
gap: 51.684px;
flex-shrink: 0;
}
.propertybrother{
display: flex;
width: 1482px;
height: 378.439px;
justify-content: center;
align-items: flex-start;
gap: 56.032px;
flex-shrink: 0;
}
.propertybrother2{
display: flex;
height: 349px;
padding-bottom: 6.088px;
justify-content: center;
align-items: center;
gap: 56.032px;
flex-shrink: 0;
align-self: stretch;
}
.propertybrother3{
  display: flex;
width: 1367px;
height: 349px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.fliporflop{
position: absolute;
left: 42px;
bottom: 0;
width: 1367px;
height: 818px;
}




p {
  grid-auto-rows: left;
  max-width: 400px;
  font-family: "Alexandria", sans-serif;
  float: right;
}
img {
  display: block;
  margin-right: auto;
  width: 30%;
}
h1 {
  text-align: center;
  display: block;
  font-weight: 900;
  font-family: "Alexandria", sans-serif;
}
blockquote, script{
  display: block;
  margin-left: auto;
  width: 20%;
  float: left;
}
h2{
  text-align: center;
  display: block;
  font-weight: 700;
  font-family: "Alexandria", sans-serif;

}
h3{
display: flex;
width: 421px;
height: 74px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: inline-flex;
  flex: 2 1 100px;
  flex-direction: column;
}
.container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}
#flexend {
align-content: flex-end;
}
.side,
.center,
.right {
  height: 100px;
  display: inline-block;
}
    .block-element {
      width: 50%; /* or a specific pixel value */
      margin: 0 auto;
    }
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

 /* regular text */
.container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 100px 100px;
  column-gap: 10px;
  row-gap: 100px;
}

/* typography */

/* heading text */
h1 {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;

}


/* second heading */
h2 {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

/* third heading */
 h3 {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-align:left;
}

 img {
    max-width: 400px;
    height: auto;
}

blockquote {
   max-width: 300px;
    height: auto;
}

.lifestyle {
    background-color: #548ACC;
}
.gameshows{
    background: #EA5B6F;
}
.datingshows{
    background: #FF894F;
}
.home{
    background: linear-gradient(176deg, #548ACC 3.97%, #EA5B6F 51.08%, #F68952 91.47%);
    height: 100vh;
}

/*Gameshows Grid*/


/* media queries */
@media (min-width: 700px) {

  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 20px;
  }
}

